.vscode/settings.json
__pycache__/grids.cpython-37.pyc
__pycache__/grids.cpython-311.pyc
__pycache__/screens.cpython-37.pyc
__pycache__/ui.cpython-37.pyc
__pycache__/ui.cpython-311.pyc
pyTTT_old/grids_old.py
pyTTT_old/pyTTT_old.py
